#partieaccueil{
    background-color: white;
}


#partieaccueil img{
    background-color: black ; 
    width: 375px;
    height: 213px;
}

#partieaccueil form{
    text-align: center ; 
}

.recherche{
    width: 300px;
    height: 35px;
    background: #2E296A ;
    border: 1px solid #2E296A ;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 7% ; 
    margin-top: 7% ; 
    padding: 2% ;  
    color: white ; 
}


 #partieaccueil form ::placeholder { 
  color: white ;
  opacity: 0.66 ; 
}